.MovieItem {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
  background-color: #FFF7EF;
  border: 2px solid black;
  border-top: none;
}

.MovieItem_Title {
  grid-column: 1 / span 2;
}

.MovieItem_Date {
  grid-column: 3;
}



.MovieItem_Text {
  grid-column: 1 / span 3;
  text-align: justify;
}
